---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/contact">Contacto</HeaderLink>
		</div>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: #e60012;
		border-bottom: 4px solid var(--accent-blue);
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	}
	h2 a,
	h2 a.active {
		text-decoration: none;
		color: #ffffff;
		font-weight: 800;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: #ffffff;
		border-bottom: 4px solid transparent;
		text-decoration: none;
		transition: opacity 0.2s;
	}
	nav a:hover {
		opacity: 0.8;
	}
	nav a.active {
		border-bottom-color: #ffffff;
	}

</style>
